﻿@model IEnumerable<ProgForCloudSynoptic.Models.ChatMessage>

@{
    ViewBag.Title = "Index";
}
@if (User.Identity.IsAuthenticated)
{
    <div class="alert alert-dark" role="alert">
      @User.Identity.Name
    </div>
}
<h2>Chat Message Interface</h2>

<div>
    @foreach (var chatMessage in Model)
    {

        var text = chatMessage.DateSent.ToShortDateString() + " " + chatMessage.DateSent.ToShortTimeString();
        text += " (" + chatMessage.SenderEmail + ") ";
        text += "- " + chatMessage.Message;

        if (chatMessage.SenderEmail == User.Identity.Name)
        {
            <div class="alert alert-primary" role="alert">
                @text 
            </div>
        }
        else
        {
            <div class="alert alert-secondary" role="alert">
                @text 
            </div>
        }

    }

    <form action="\Synoptic\Post" method="post">
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Write message:</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            <input type="submit" value="Post" />
        </div>

    </form>
    <a href="\Synoptic\Pull" role="button">Refresh Chat</a>

</div>

